.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.p-browser {
  height: 25px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  z-index: 2;
}

.p-lower {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px;
  font-size: 40px;
  z-index: 999;
  position: relative;
}

.p-icon {
  color: rgb(134, 133, 133);
  font-size: 40px;
  font-weight: 400;
  margin-inline: 23px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.p-icon:hover {
  color: #000;
  transform: scale(1.1);
}

.p-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 62px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: rgb(139, 133, 133);
}

.p-img {
  width: 100%;
  transition: transform 10s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}

.p-icon-font {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 999;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 23vh;
  }
}